@keyframes cursor{
    50% { border-color: transparent;}
}

#div-name{
    display: flex;
    justify-content: center;
}
#my-name{
    text-align: center;
    letter-spacing: 5px;
    font-family: monospace;
    animation: cursor .8s step-end infinite alternate;
    white-space: nowrap;
}
